{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="register-container">
        <form method="post">
            {% csrf_token %}
            <div>
                <label>用户名</label>
                <input type="text" name="user">
            </div>
            <div>
                <label>密码</label>
                <input type="password" name="pwd">
            </div>
            <div>
                <label>邮箱</label>
                <input type="text" name="email">
            </div>
            <div>
                <label>手机</label>
                <input type="text" name="phone">
            </div>
            <button type="submit">注册</button>
            <span>{{error}}</span>
        </form>
    </div>
</body>
</html>